#main {
  display: grid;
  grid-template-areas: "a c e" "b c e" "g g g" "h i i";
  grid-template-columns: 2fr 3fr 4.5fr;
  grid-template-rows: 1fr 2.5fr 2fr 2fr;
}

.dateNtime {
  grid-area: a;
  background-color: #202020;
}

#menu {
  grid-area: b;
  background-color: #3d3d3d;
}

#bus {
  grid-area: c;
  background-color: #585858;
}

#kort {
  grid-area: e;
  background-color: #7c7c7c;
}

#chart {
  grid-area: g;
  background-color: #525252;
}

#weather {
  grid-area: h;
  background-color: #8b8b8b;
}

#forecast {
  grid-area: i;
  background-color: #242424;
}

* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
}

body {
  /* Hide vertical scrollbar */
  /* Hide horizontal scrollbar */
}

.dateNtime {
  text-align: center;
  padding: 30px;
}

.dateNtime #currentTime {
  margin-bottom: 15px;
  font-weight: bold;
  font-size: 30px;
}

#kort ul {
  margin-top: 10px;
  margin-bottom: 20px;
  display: flex;
  justify-content: space-evenly;
}

#kort #dot-section {
  width: 45%;
}

#kort #dot-section img {
  width: 100%;
}

#menu {
  text-align: center;
}

#menu ul {
  margin: 10px;
}

#menu li {
  font-size: 20px;
  margin-bottom: 10px;
}

#menu li dl {
  font-size: 15px;
}

img {
  display: block;
}

#dot-section {
  position: absolute;
  height: 50%;
  width: 50%;
}

#dot-section .dot {
  padding: 1rem;
  background-color: black;
  margin: 1rem;
  border-radius: 100px;
  width: 0.1%;
}

#dot-section #P024 {
  position: absolute;
  right: 45px;
  top: 75px;
}

#dot-section #P025 {
  position: absolute;
  right: 172.5px;
  top: 75px;
}

#dot-section #P026 {
  position: absolute;
  right: 290px;
  top: 75px;
}

#dot-section #P027-3 {
  position: absolute;
  top: 75px;
  left: 315px;
}

#dot-section #P027-4 {
  position: absolute;
  top: 75px;
  left: 195px;
}

#dot-section #SUs151 {
  position: absolute;
  bottom: 50px;
  right: 310px;
}

#dot-section #N112b {
  position: absolute;
  bottom: 37.5px;
  left: 285px;
}

#dot-section #E102S {
  position: absolute;
  bottom: 37.5px;
  left: 227.5px;
}

#dot-section #N120 {
  position: absolute;
  bottom: 37.5px;
  left: 102.5px;
}
