@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+Thai+Looped&display=swap");
#main {
  height: 100vh;
  display: -ms-grid;
  display: grid;
      grid-template-areas: "a c e" "b c e" "g g g" "h h h";
  -ms-grid-columns: 1.5fr 2fr 4.5fr;
      grid-template-columns: 1.5fr 2fr 4.5fr;
  -ms-grid-rows: 1fr 3.7fr 2fr 1fr;
      grid-template-rows: 1fr 3.7fr 2fr 1fr;
}

.dateNtime {
  z-index: -9997;
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: a;
  background-color: #24214F;
}

#menu {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: b;
  background-color: #24214F;
}

#bus {
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  -ms-grid-column: 2;
  grid-area: c;
  background-color: #1B183D;
}

#kort {
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  -ms-grid-column: 3;
  grid-area: e;
  background-color: #1B183D;
}

#chart {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-area: g;
  background-color: #1B183D;
}

#weather {
  -ms-grid-row: 4;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-area: h;
}

#forecast {
  grid-area: i;
  background-color: #242424;
}

#bus {
  font-family: arial;
  font-size: 1vw;
  margin-left: 2.6vw;
}

#bus div {
  color: #aeaec8;
}

#bus div h2 {
  font-size: 1.3vw;
  text-align: center;
  margin-top: 25px;
  margin-bottom: 125px;
}

#bus div section {
  margin-top: -120px;
  padding: 1em 0;
}

#bus div section article {
  background-color: #24214f;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border-radius: 10px;
  margin: 1em;
}

#bus div section article p {
  padding: 0.7em;
}

#bus div section article p:last-child {
  min-width: 5em;
  text-align: right;
}

* {
  font-family: 'IBM Plex Sans Thai Looped', sans-serif;
  color: #AEAEC8;
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
}

body {
  background-color: #1B183D;
  overflow-y: hidden;
  /* Hide vertical scrollbar */
  overflow-x: hidden;
  /* Hide horizontal scrollbar */
}

.dateNtime {
  text-align: center;
  padding: 30px;
  font-size: 1vw;
}

.dateNtime #currentTime {
  margin-bottom: 15px;
  font-weight: bold;
  font-size: 1.3vw;
}

#classcontainer {
  margin: auto auto;
  margin-top: 30px;
  width: 90%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#classcontainer div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 10px 15px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#classcontainer div div {
  height: 10px;
  width: 10px;
}

#kort {
  font-size: 1vw;
}

#kort ul {
  margin-top: 10px;
  margin-bottom: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

#kort ul li {
  list-style-type: disc;
}

#kort #dot-section {
  width: 50%;
}

#kort #dot-section svg {
  margin-left: 2.7vw;
  width: 100%;
}

#menu {
  font-size: 0.7vw;
  text-align: center;
}

#menu ul {
  margin: 10px;
}

#menu li {
  font-size: 1vw;
  margin-bottom: 10px;
}

#menu li dl {
  font-size: 1vw;
}

img {
  display: block;
}

#dot-section {
  position: absolute;
  height: 50%;
  width: 50%;
}

.dot {
  padding: 1rem;
  background-color: black;
  border-radius: 200px;
  width: 20px;
  height: 20px;
}

#dot-section #P024 {
  position: absolute;
  right: 1%;
  top: 20%;
}

#dot-section #P025 {
  position: absolute;
  right: 16%;
  top: 20%;
}

#dot-section #P026 {
  position: absolute;
  right: 33%;
  top: 20%;
}

#dot-section #P027-3 {
  position: absolute;
  top: 20%;
  left: 47%;
}

#dot-section #P027-4 {
  position: absolute;
  top: 20%;
  left: 33%;
}

#dot-section #SUs151 {
  position: absolute;
  bottom: 25%;
  right: 35%;
}

#dot-section #N112b {
  position: absolute;
  bottom: 19%;
  left: 47%;
}

#dot-section #E102S {
  position: absolute;
  bottom: 19%;
  left: 32%;
}

#dot-section #N120 {
  position: absolute;
  bottom: 19%;
  left: 18%;
}

#lightblue {
  background-color: lightblue;
}

#pink {
  background-color: #fa4bbc;
}

#black {
  background-color: black;
}

#orange {
  background-color: orange;
}

#turquoise {
  background-color: turquoise;
}

#yellow {
  background-color: yellow;
}

#green {
  background-color: green;
}

#brown {
  background-color: brown;
}

#white {
  background-color: white;
}

#peru {
  background-color: peru;
}

#purple {
  background-color: purple;
}

#yellowgreen {
  background-color: yellowgreen;
}

#blue {
  background-color: blue;
}

#Weather-grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  padding: 10px;
}

#Weather-grid #MainWeather {
  margin-left: 2vw;
  width: 5.5vw;
  height: 6vw;
  -webkit-transform: scale(1.6);
          transform: scale(1.6);
}

#Weather-grid div {
  margin: 1vw;
  height: 10vh;
  text-align: center;
  font-size: 2vw;
}

#Weather-grid svg {
  margin-left: 2.5vw;
  margin-top: 0.5vw;
}

#TempChart {
  width: 400px;
  height: 780px;
}

#weather-color-corner {
  background-color: #24214F;
  position: absolute;
  width: 730px;
  height: 600px;
  z-index: -9999;
}

.st0 {
  fill: none;
  stroke: #504F78;
  stroke-width: 3;
  stroke-miterlimit: 10;
}

.st1 {
  fill: #2A2656;
}

.st2 {
  fill: #BCBCF7;
}

.st3 {
  font-family: 'IBM Plex Sans Thai Looped';
}

.st4 {
  font-size: 29.96px;
}

.st5 {
  fill: #D4000B;
}

.st6 {
  fill: none;
}

.st7 {
  fill: #BCBCF7;
}

.st8 {
  font-size: 12px;
}

.news {
  overflow-x: hidden;
  white-space: nowrap;
  font-size: 1vw;
  overflow-y: hidden;
}

#news1 {
  margin-top: 20px;
  position: absolute;
  -webkit-animation: slide 70s infinite linear;
          animation: slide 70s infinite linear;
}

#left {
  position: absolute;
  background-color: Black;
  border-radius: 10px;
  padding: 20px;
}

#right {
  position: absolute;
  background-color: black;
  right: 0;
  border-radius: 10px;
  padding: 20px;
}

#mid {
  position: absolute;
  background-color: black;
  left: 47%;
  border-radius: 10px;
  padding: 20px;
  opacity: 0;
  -webkit-transition: 300ms ease-in-out;
  transition: 300ms ease-in-out;
  -webkit-animation: fade 70s infinite linear;
          animation: fade 70s infinite linear;
}

@-webkit-keyframes slide {
  from {
    right: -285%;
  }
  to {
    right: 110%;
  }
}

@keyframes slide {
  from {
    right: -285%;
  }
  to {
    right: 110%;
  }
}

@-webkit-keyframes fade {
  0% {
    opacity: 1;
  }
  5% {
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  95% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fade {
  0% {
    opacity: 1;
  }
  5% {
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  95% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}
