@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+Thai:wght@100;200;300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+Thai+Looped&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Cabin:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&display=swap");
#main {
  height: 100vh;
  display: -ms-grid;
  display: grid;
      grid-template-areas: "a cu e" "b c e" "g g g" "h h h";
  -ms-grid-columns: 1.5fr 2fr 4.5fr;
      grid-template-columns: 1.5fr 2fr 4.5fr;
  -ms-grid-rows: 1fr 3.7fr 2fr 1fr;
      grid-template-rows: 1fr 3.7fr 2fr 1fr;
}

.dateNtime {
  z-index: -9997;
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: a;
  background-color: rgba(38, 34, 80, 0.65);
}

#menu {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: b;
  background-color: rgba(38, 34, 80, 0.65);
}

#bus {
  -ms-grid-row: 2;
  -ms-grid-column: 2;
  grid-area: c;
  background-color: transparent;
}

#kort {
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  -ms-grid-column: 3;
  grid-area: e;
  background-color: transparent;
}

#chart {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-area: g;
  background-color: transparent;
}

#weather {
  -ms-grid-row: 4;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-area: h;
}

#forecast {
  grid-area: i;
  background-color: #242424;
}

#counter {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: cu;
}

#bus {
  font-family: arial;
  font-size: 1vw;
  margin-left: 2vw;
  color: #b8b8d1;
}

#bus div h2 {
  font-size: 1.3vw;
  text-align: center;
  margin-top: 25px;
  margin-bottom: 20px;
}

#bus div section {
  padding: 1em 0;
}

#bus div section article {
  position: relative;
  background-color: #201b49;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border-radius: 10px;
  margin: 1em;
  padding: 0.5em;
}

#bus div section article .middle {
  position: absolute;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  left: 50%;
  top: 50%;
}

#bus div section article p {
  font-size: 1vw;
}

* {
  font-family: "IBM Plex Sans Thai Looped", sans-serif;
  color: #b8b8d1;
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
}

body {
  background-color: #1f1b47;
  overflow-y: hidden;
  /* Hide vertical scrollbar */
  overflow-x: hidden;
  /* Hide horizontal scrollbar */
}

.dateNtime {
  text-align: center;
  padding: 30px;
  font-size: 1vw;
}

.dateNtime span {
  margin: 0;
}

.dateNtime #currentTime {
  color: white;
  font-family: "IBM Plex Sans Thai";
  margin-bottom: 15px;
  font-weight: 200;
  font-size: 2.5vw;
}

#classcontainer {
  margin: auto auto;
  margin-top: 30px;
  margin-bottom: 50px;
  width: 90%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#classcontainer div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 10px 15px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#classcontainer div div {
  height: 10px;
  width: 10px;
}

#kort {
  font-size: 1vw;
}

#kort ul {
  margin-top: 10px;
  margin-bottom: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

#kort ul li {
  list-style-type: disc;
}

#kort #dot-section {
  width: 50%;
}

#kort #dot-section svg {
  margin-left: 2.7vw;
  width: 100%;
}

#bus div article {
  -webkit-box-shadow: rgba(0, 0, 0, 0.788) 0vw 0vw 1vw;
          box-shadow: rgba(0, 0, 0, 0.788) 0vw 0vw 1vw;
}

#menu {
  font-size: 1vw;
  text-align: center;
  height: 100%;
  padding-top: 0;
  margin-bottom: 1vw;
}

#menu ul {
  margin: 0;
}

#menu li {
  margin-bottom: 1vw;
}

#menu li dl {
  font-size: 1vw;
}

img {
  display: block;
}

#dot-section {
  position: absolute;
  height: 50%;
  width: 50%;
}

.dot {
  padding: 0.1rem;
  background-color: black;
  border-radius: 200px;
  width: 20px;
  height: 20px;
}

#dot-section #P024 {
  position: absolute;
  right: 2%;
  top: 20%;
}

#dot-section #P025 {
  position: absolute;
  right: 19%;
  top: 20%;
}

#dot-section #P026 {
  position: absolute;
  right: 33%;
  top: 20%;
}

#dot-section #P027-3 {
  position: absolute;
  top: 20%;
  left: 47%;
}

#dot-section #P027-4 {
  position: absolute;
  top: 20%;
  left: 30%;
}

#dot-section #SUs151 {
  position: absolute;
  bottom: 26%;
  right: 38%;
}

#dot-section #N112b {
  position: absolute;
  bottom: 26%;
  left: 47%;
}

#dot-section #E102S {
  position: absolute;
  bottom: 26%;
  left: 30%;
}

#dot-section #N120 {
  position: absolute;
  bottom: 26%;
  left: 14%;
}

#lightblue {
  background-color: lightblue;
}

#pink {
  background-color: #fa4bbc;
}

#black {
  background-color: black;
}

#orange {
  background-color: orange;
}

#turquoise {
  background-color: turquoise;
}

#yellow {
  background-color: yellow;
}

#green {
  background-color: green;
}

#brown {
  background-color: brown;
}

#white {
  background-color: white;
}

#peru {
  background-color: peru;
}

#purple {
  background-color: purple;
}

#yellowgreen {
  background-color: yellowgreen;
}

#blue {
  background-color: blue;
}

#weather {
  z-index: 10;
  margin-top: -1vw;
}

#Weather-grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  padding: 20px;
}

#Weather-grid #MainWeather {
  margin-left: 2vw;
  margin-top: -1.2vw;
  width: 5.5vw;
  height: 6vw;
  -webkit-transform: scale(1.3);
          transform: scale(1.3);
}

#Weather-grid div {
  margin: 1vw;
  margin-top: -1.5vw;
  height: 10vh;
  text-align: center;
  font-size: 1.7vw;
}

#Weather-grid svg {
  margin-left: 3.2vw;
  margin-top: -1.3vw;
  padding: 20px;
}

#chart {
  margin-top: 1vw;
}

#TempChart {
  width: 400px;
  height: 450px;
}

#weather-color-corner {
  background-color: rgba(38, 34, 80, 0.65);
  position: absolute;
  width: 750px;
  height: 600px;
  margin-top: -1.5vw;
  z-index: -9999;
}

.st0 {
  fill: none;
  stroke: #504f78;
  stroke-width: 3;
  stroke-miterlimit: 10;
}

.st1 {
  fill: #2a2656;
}

.st2 {
  fill: #bcbcf7;
}

.st3 {
  font-family: "IBM Plex Sans Thai Looped";
}

.st4 {
  font-size: 29.96px;
}

.st5 {
  fill: #d4000b;
}

.st6 {
  fill: none;
}

.st7 {
  fill: #bcbcf7;
}

.st8 {
  font-size: 12px;
}

.news {
  overflow-x: hidden;
  white-space: nowrap;
  font-size: 1.4vw;
  overflow-y: hidden;
}

#news1 {
  margin-top: 20px;
  position: absolute;
  -webkit-animation: slide 70s infinite linear;
          animation: slide 70s infinite linear;
}

#left {
  position: absolute;
  background: -webkit-gradient(linear, right top, left top, from(#ff0f0f), color-stop(77%, #7c0000));
  background: linear-gradient(270deg, #ff0f0f 0%, #7c0000 77%);
  padding: 20px;
  color: white;
  font-style: italic;
  font-weight: bold;
  padding-left: 4vw;
  padding-right: 2vw;
  left: -2vw;
  letter-spacing: 0.1vw;
  -webkit-transform: skew(-20deg, 0deg);
  transform: skew(-20deg, 0deg);
}

#newscontainer {
  z-index: 11;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 2.25vw;
  background-color: #504f78;
  padding-bottom: 0.7vw;
}

span {
  padding: 0 20px;
  margin: 0 300px;
  border-radius: 30px;
  color: white;
}

@-webkit-keyframes slide {
  from {
    right: -550%;
  }
  to {
    right: 110%;
  }
}

@keyframes slide {
  from {
    right: -550%;
  }
  to {
    right: 110%;
  }
}

.classname-1 {
  isolation: isolate;
}

.classname-2 {
  mix-blend-mode: screen;
}

.classname-3,
.classname-5 {
  fill: none;
}

.classname-3 {
  stroke: #fff;
  stroke-width: 4px;
}

.classname-3,
.classname-5,
.classname-6 {
  stroke-miterlimit: 10;
}

.classname-4,
.classname-7,
.classname-8 {
  fill: #333;
}

.classname-5,
.classname-6 {
  stroke: #333;
  stroke-width: 3px;
}

.classname-6 {
  fill: #fff;
}

.classname-7 {
  font-size: 21px;
}

.classname-7,
.classname-8 {
  font-family: "IBM Plex Sans Thai Looped", sans-serif;
}

.classname-8 {
  font-size: 11px;
}

.your-location {
  fill: white;
}

#counter {
  text-align: center;
  margin-left: 3vw;
  margin-top: 1.5vw;
  font-size: 1vw;
}

#countdown {
  color: white;
  font-family: cabin;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-right: 40px;
}

#countdown label {
  margin-right: 0;
  margin-left: 40px;
}

#countdown p {
  margin-top: 0;
  padding-bottom: 0;
  margin-bottom: 0;
}

#countdown #dage {
  font-size: 1.5vw;
}

#countdown #timer {
  font-size: 1.5vw;
}

#countdown #minutter {
  font-size: 1.5vw;
}

#countdown #sekunder {
  font-size: 1.5vw;
}
