@import "color-variables";
#main {
    height: 100vh;
    display: grid;
    grid-template-areas: 
    "a cu e"
    "b c e"
    "g g g"
    "h h h";
    grid-template-columns: 1.5fr 2fr 4.5fr;
    grid-template-rows: 1fr 3.7fr 2fr 1fr;
}
.dateNtime {
    z-index: -9997;
    grid-area: a;
    background-color: $second-background;
}
#menu {
    grid-area: b;
    background-color: $second-background;
}
#bus {
    grid-area: c;
    background-color: $background;
}
#kort {
    grid-area: e;
    background-color: $background;
}
#chart {
    grid-area: g;
    background-color: $background;
}
#weather {
    grid-area: h;
    
    
}
#forecast {
    grid-area: i;
    background-color: rgb(36, 36, 36);
}
