@import './grid';
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

// MAIN
* {
  //global og universal selector
  font-family: 'Poppins';
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
}

body {
  // overflow-y: hidden;
  /* Hide vertical scrollbar */
  // overflow-x: hidden;
  /* Hide horizontal scrollbar */
}

.dateNtime {
  text-align: center;
  padding: 30px;

  #currentTime {
    margin-bottom: 15px;
    font-weight: bold;
    font-size: 30px;
  }
}

#kort {
  font-size: 1.5vw;
  ul {
    margin-top: 10px;
    margin-bottom: 20px;
    display: flex;
    justify-content: space-evenly;
  }
  #dot-section {
    width: 50%;
    img {
      margin-left: 3vw;
      width: 100%;
    }
  }
}

#menu {
  text-align: center;
  ul {
    margin: 10px;
  }
  li {
    font-size: 20px;
    margin-bottom: 10px;
    dl {
      font-size: 15px;
    }
  }
}
img {
  display: block;
}

#dot-section {
  position: absolute;
  height: 50%;
  width: 50%;
}

#dot-section .dot {
  padding: 1rem;
  background-color: black;
  margin: 1rem;
  border-radius: 100px;
  width: 0.1%;
}

#dot-section #P024 {
  position: absolute;
  right: 45px;
  top: 75px;
}

#dot-section #P025 {
  position: absolute;
  right: 172.5px;
  top: 75px;
}

#dot-section #P026 {
  position: absolute;
  right: 290px;
  top: 75px;
}

#dot-section #P027-3 {
  position: absolute;
  top: 75px;
  left: 315px;
}

#dot-section #P027-4 {
  position: absolute;
  top: 75px;
  left: 195px;
}

#dot-section #SUs151 {
  position: absolute;
  bottom: 50px;
  right: 310px;
}

#dot-section #N112b {
  position: absolute;
  bottom: 37.5px;
  left: 285px;
}

#dot-section #E102S {
  position: absolute;
  bottom: 37.5px;
  left: 227.5px;
}

#dot-section #N120 {
  position: absolute;
  bottom: 37.5px;
  left: 102.5px;
}