@import "./grid";
@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+Thai:wght@100;200;300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+Thai+Looped&display=swap");

@import "_bus.scss";
@import "color-variables";

// MAIN
* {
  //global og universal selector
  font-family: "IBM Plex Sans Thai Looped", sans-serif;
  color: $text;
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
}

body {
  background-color: #1f1b47;
  overflow-y: hidden;
  /* Hide vertical scrollbar */
  overflow-x: hidden;
  /* Hide horizontal scrollbar */
}

.dateNtime {
  text-align: center;
  padding: 30px;
  font-size: 1vw;

  span {
    margin: 0;
  }
  #currentTime {
    color: white;
    font-family: "IBM Plex Sans Thai";
    margin-bottom: 15px;
    font-weight: 200;
    font-size: 2.5vw;
  }
}
#classcontainer {
  margin: auto auto;
  margin-top: 30px;
  margin-bottom: 50px;
  width: 90%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  div {
    display: flex;
    margin: 10px 15px;
    align-items: center;
    div {
      height: 10px;
      width: 10px;
    }
  }
}
#kort {
  font-size: 1vw;
  ul {
    margin-top: 10px;
    margin-bottom: 20px;
    display: flex;
    justify-content: space-evenly;
    li {
      list-style-type: disc;
    }
  }
  #dot-section {
    width: 50%;
    svg {
      margin-left: 2.7vw;
      width: 100%;
    }
  }
}

#bus {
  div {
    article {
      box-shadow: rgba(0, 0, 0, 0.788) 0vw 0vw 1vw;
    }
  }
}

#menu {
  font-size: 1vw;
  text-align: center;
  height: 100%;
  padding-top: 0;
  margin-bottom: 1vw;
  ul {
    margin: 0;
  }
  li {
    margin-bottom: 1vw;
    dl {
      font-size: 1vw;
    }
  }
}
img {
  display: block;
}

#dot-section {
  position: absolute;
  height: 50%;
  width: 50%;
}

.dot {
  padding: 0.1rem;
  background-color: black;
  border-radius: 200px;
  width: 20px;
  height: 20px;
}

#dot-section #P024 {
  position: absolute;
  right: 2%;
  top: 20%;
}

#dot-section #P025 {
  position: absolute;
  right: 19%;
  top: 20%;
}

#dot-section #P026 {
  position: absolute;
  right: 33%;
  top: 20%;
}

#dot-section #P027-3 {
  position: absolute;
  top: 20%;
  left: 47%;
}

#dot-section #P027-4 {
  position: absolute;
  top: 20%;
  left: 30%;
}

#dot-section #SUs151 {
  position: absolute;
  bottom: 26%;
  right: 38%;
}

#dot-section #N112b {
  position: absolute;
  bottom: 26%;
  left: 47%;
}

#dot-section #E102S {
  position: absolute;
  bottom: 26%;
  left: 30%;
}

#dot-section #N120 {
  position: absolute;
  bottom: 26%;
  left: 14%;
}

#lightblue {
  background-color: lightblue;
}
#pink {
  background-color: #fa4bbc;
}

#black {
  background-color: black;
}

#orange {
  background-color: orange;
}
#turquoise {
  background-color: turquoise;
}
#yellow {
  background-color: yellow;
}
#green {
  background-color: green;
}

#brown {
  background-color: brown;
}

#white {
  background-color: white;
}
#peru {
  background-color: peru;
}

#purple {
  background-color: purple;
}
#yellowgreen {
  background-color: yellowgreen;
}

#blue {
  background-color: blue;
}
#weather {
  z-index: 10;
  margin-top: -1vw;
}
#Weather-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  padding: 20px;

  #MainWeather {
    margin-left: 2vw;
    margin-top: -1.2vw;
    width: 5.5vw;
    height: 6vw;
    transform: scale(1.3);
  }
  div {
    margin: 1vw;
    margin-top: -1.5vw;
    height: 10vh;
    text-align: center;
    font-size: 1.7vw;
  }
  svg {
    margin-left: 3.2vw;
    margin-top: -1.3vw;
    padding: 20px;
  }
}
#chart {
  margin-top: 1vw;
}
#TempChart {
  width: 400px;
  height: 450px;
}

#weather-color-corner {
  background-color: $second-background;
  position: absolute;
  width: 750px;
  height: 600px;
  margin-top: -1.5vw;
  z-index: -9999;
}

// SVG
.st0 {
  fill: none;
  stroke: #504f78;
  stroke-width: 3;
  stroke-miterlimit: 10;
}
.st1 {
  fill: #2a2656;
}
.st2 {
  fill: #bcbcf7;
}
.st3 {
  font-family: "IBM Plex Sans Thai Looped";
}
.st4 {
  font-size: 29.96px;
}
.st5 {
  fill: #d4000b;
}
.st6 {
  fill: none;
}
.st7 {
  fill: #bcbcf7;
}
.st8 {
  font-size: 12px;
}

//news

.news {
  overflow-x: hidden;
  white-space: nowrap;
  font-size: 1.4vw;
  overflow-y: hidden;
}
#news1 {
  margin-top: 20px;
  position: absolute;
  animation: slide 70s infinite linear;
}

#left {
  position: absolute;
  background: linear-gradient(
    270deg,
    rgba(255, 15, 15, 1) 0%,
    rgba(124, 0, 0, 1) 77%
  );
  padding: 20px;
  color: white;
  font-style: italic;
  font-weight: bold;
  padding-left: 4vw;
  padding-right: 2vw;
  left: -2vw;
  letter-spacing: 0.1vw;

  //Skew
  -moz-transform: skew(-20deg, 0deg);
  -webkit-transform: skew(-20deg, 0deg);
  -o-transform: skew(-20deg, 0deg);
  -ms-transform: skew(-20deg, 0deg);
  transform: skew(-20deg, 0deg);
}

#newscontainer {
  z-index: 11;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 2.25vw;
  background-color: #504f78;
  padding-bottom: 0.7vw;
}
span {
  padding: 0 20px;
  margin: 0 300px;
  border-radius: 30px;
  color: white;
}

@keyframes slide {
  from {
    right: -550%;
  }
  to {
    right: 110%;
  }
}

.classname-1 {
  isolation: isolate;
}
.classname-2 {
  mix-blend-mode: screen;
}
.classname-3,
.classname-5 {
  fill: none;
}
.classname-3 {
  stroke: #fff;
  stroke-width: 4px;
}
.classname-3,
.classname-5,
.classname-6 {
  stroke-miterlimit: 10;
}
.classname-4,
.classname-7,
.classname-8 {
  fill: #333;
}
.classname-5,
.classname-6 {
  stroke: #333;
  stroke-width: 3px;
}
.classname-6 {
  fill: #fff;
}
.classname-7 {
  font-size: 21px;
}
.classname-7,
.classname-8 {
  font-family: "IBM Plex Sans Thai Looped", sans-serif;
}
.classname-8 {
  font-size: 11px;
}

.your-location {
  fill: white;
}
// countdown

#counter {
  text-align: center;
  margin-left: 3vw;
  margin-top: 1.5vw;
  font-size: 1vw;
}
#countdown {
  color: white;
  font-family: cabin;
  display: flex;
  justify-content: center;
  margin-right: 40px;

  label {
    margin-right: 0;
    margin-left: 40px;
  }

  p {
    margin-top: 0;

    padding-bottom: 0;

    margin-bottom: 0;
  }

  #dage {
    font-size: 1.5vw;
  }

  #timer {
    font-size: 1.5vw;
  }

  #minutter {
    font-size: 1.5vw;
  }

  #sekunder {
    font-size: 1.5vw;
  }
}

@import url("https://fonts.googleapis.com/css2?family=Cabin:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&display=swap");
