// MAIN
* {
  //global og universal selector
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
}

body {
  overflow-y: hidden;
  /* Hide vertical scrollbar */
  overflow-x: hidden;
  /* Hide horizontal scrollbar */
}
