
@import './grid';
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@import "_bus.scss";


// MAIN
* {
  //global og universal selector
  font-family: 'Poppins';
  color: #AEAEC8;
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
}

body {
  background-color: #1B183D;
  overflow-y: hidden;
  /* Hide vertical scrollbar */
  overflow-x: hidden;
  /* Hide horizontal scrollbar */
}

.dateNtime {
  text-align: center;
  padding: 30px;
font-size: 1vw;
  #currentTime {
    margin-bottom: 15px;
    font-weight: bold;
    font-size: 1.3vw;
  }
}
#classcontainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  div {
    display: flex;
    margin: 0 25px;
    align-items: center;
    div {
      height: 10px;
      width: 10px;

    }
  }
}
#kort {
  font-size: 1vw;
  ul {
    margin-top: 10px;
    margin-bottom: 20px;
    display: flex;
    justify-content: space-evenly;
    li {
      list-style-type: disc;
    }
  }
  #dot-section {
    width: 50%;
    img {
      margin-left: 3vw;
      width: 100%;
    }
  }
}

#menu {
  font-size: 0.7vw;
  text-align: center;
  ul {
    margin: 10px;
  }
  li {
    font-size: 1vw;
    margin-bottom: 10px;
    dl {
      font-size: 1vw;
    }
  }
}
img {
  display: block;
}

#dot-section {
  position: absolute;
  height: 50%;
  width: 50%;

}

.dot {
  padding: 1rem;
  background-color: black;
  margin: 1rem;
  border-radius: 200px;
  width: 30px;
  height: 30px;
}

#dot-section #P024 {
  position: absolute;
  right: 1%;
  top: 20%;
}

#dot-section #P025 {
  position: absolute;
  right: 16%;
  top: 20%;
}

#dot-section #P026 {
  position: absolute;
  right: 33%;
  top: 20%;
}

#dot-section #P027-3 {
  position: absolute;
  top: 20%;
  left: 47%;
}

#dot-section #P027-4 {
  position: absolute;
  top: 20%;
  left: 33%;
}

#dot-section #SUs151 {
  position: absolute;
  bottom: 25%;
  right: 35%;
}

#dot-section #N112b {
  position: absolute;
  bottom: 19%;
  left: 47%;
}

#dot-section #E102S {
  position: absolute;
  bottom: 19%;
  left: 32%;
}

#dot-section #N120 {
  position: absolute;
  bottom: 19%;
  left: 18%;
}

#lightblue {
  background-color: lightblue;
}
#pink {
  background-color: #fa4bbc;
}

#black {
  background-color: black;
}

#orange {
  background-color: orange;
}
#turquoise {
  background-color: turquoise;
}
#yellow {
  background-color: yellow;
}
#green {
  background-color: green;
}

#brown {
  background-color: brown;
}

#red {
  background-color: red;
}
#peru {
  background-color: peru;
}

#purple {
  background-color: purple;
}
#yellowgreen {
  background-color: yellowgreen;
}

#blue {
  background-color: blue;
}

#Weather-grid{
  display: grid;
grid-template-columns: 2fr 1fr 1fr 1fr 1fr 1fr;
padding: 10px;
#Day0{
  transform: scale(1.5);
}
div{
  margin: 1vw;
  height: 10vh;
  text-align: center;
}
}

#TempChart{
  width: 400px;
  height: 700px;
}

#weather-color-corner {
  background-color: #24214F;
  position: absolute;
  width: 700px;
  height: 600px;
  z-index: -9999;
}